# Merging and exporting data

In [2]:
#This script includes:

#Importing products data and orders_products_combined data
#Checking output of dataframes
#Merge the data
#Confirm the results by merge flag

# Importing libraries

In [4]:
# import library
import pandas as pd
import numpy as np
import os

# Import data

In [6]:
df_orders_products_combined=pd.read_pickle(r'D:\Sonal\career foundry\CareerFoundry\Data Immersion\Achievement 4\Exc 4.3\Prepared data\orders_products_combined.pkl')

In [7]:
df_orders_products_combined.shape

(32434489, 10)

In [8]:
df_prods=pd.read_csv(r'D:\Sonal\career foundry\CareerFoundry\Data Immersion\Achievement 4\Exc 4.3\Prepared data\products_cleaned.csv',index_col=0)

In [9]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
df_prods.shape

(49672, 5)

# Merging data

In [12]:
# combine df.prods and df.orders_products_combined data

In [13]:
df_merged_large=df_prods.merge(df_orders_products_combined, on = 'product_id')

In [37]:
df_merged_large.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [15]:
# result of the merge using merge flag

In [16]:
df_merged_large['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

# Export the merged file

In [18]:
df_merged_large.to_pickle(r'D:\Sonal\career foundry\CareerFoundry\Data Immersion\Achievement 4\Exc 4.3\Prepared data\ords_prods_merge.pkl')