# Import Libraries

In [11]:
#importing libraries
import pandas as pd
import numpy as np
import os

# Import data

In [13]:
#import customer data

In [144]:
path=r'D:\Sonal\career foundry\CareerFoundry\Data Immersion\Achievement 4\Exc 4.3'

In [14]:
df_cust=pd.read_csv(r'D:\Sonal\career foundry\CareerFoundry\Data Immersion\Achievement 4\Exc 4.3\Original data\customers\customers.csv',index_col=False)

In [15]:
df_cust.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [16]:
df_cust.shape

(206209, 10)

In [17]:
df_cust.dtypes

user_id          int64
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

# data wrangling

In [19]:
# columns rename

In [20]:
df_cust.rename(columns={'Surnam':'surname'},inplace=True)

In [21]:
df_cust.rename(columns={'First Name':'first_name'},inplace=True)

In [22]:
df_cust.rename(columns={'Gender':'gender'},inplace=True)

In [23]:
df_cust.rename(columns={'STATE':'state'},inplace=True)

In [24]:
df_cust.rename(columns={'Age':'age'},inplace=True)

In [25]:
df_cust.rename(columns={'n_dependants':'dependants'},inplace=True)

In [26]:
df_cust.columns

Index(['user_id', 'first_name', 'surname', 'gender', 'state', 'age',
       'date_joined', 'dependants', 'fam_status', 'income'],
      dtype='object')

# data consistency checks

In [28]:
# check mixed type column

In [29]:
for col in df_cust.columns.tolist():
  weird = (df_cust[[col]].map(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_cust[weird]) > 0:
    print (col)

first_name

In [30]:
# change it to str type

In [31]:
df_cust['first_name'] = df_cust['first_name'].astype('str')

In [32]:
# change 'user_id' to 'str'

In [33]:
df_cust['user_id'] = df_cust['user_id'].astype('str')

In [34]:
df_cust.dtypes

user_id        object
first_name     object
surname        object
gender         object
state          object
age             int64
date_joined    object
dependants      int64
fam_status     object
income          int64
dtype: object

In [35]:
# check missing values

In [36]:
df_cust.isnull().sum()

user_id        0
first_name     0
surname        0
gender         0
state          0
age            0
date_joined    0
dependants     0
fam_status     0
income         0
dtype: int64

There are no missing values

In [38]:
# check for duplicates

In [39]:
df_cust[df_cust.duplicated()]

Empty DataFrame
Columns: [user_id, first_name, surname, gender, state, age, date_joined, dependants, fam_status, income]
Index: []

There are no duplicates

In [41]:
df_cust.describe()

                 age     dependants         income
count  206209.000000  206209.000000  206209.000000
mean       49.501646       1.499823   94632.852548
std        18.480962       1.118433   42473.786988
min        18.000000       0.000000   25903.000000
25%        33.000000       0.000000   59874.000000
50%        49.000000       1.000000   93547.000000
75%        66.000000       3.000000  124244.000000
max        81.000000       3.000000  593901.000000

There are no unusual statistics seen.

# Import ords_prods data

In [44]:
ords_prods_merge=pd.read_pickle(r'D:\Sonal\career foundry\CareerFoundry\Data Immersion\Achievement 4\Exc 4.3\Prepared data\orders_products_merged_agg.pkl')

In [45]:
# check the shape of ords_prods_merge data

In [46]:
ords_prods_merge.shape

(32404859, 24)

In [47]:
# identify shared column

In [48]:
ords_prods_merge.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'add_to_cart_order',
       'reordered', '_merge', 'price_range_loc', 'busiest_day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'Avg_spend',
       'Spender_flag', 'Customer_frequency', 'Frequency_flag'],
      dtype='object')

In [49]:
df_cust.columns

Index(['user_id', 'first_name', 'surname', 'gender', 'state', 'age',
       'date_joined', 'dependants', 'fam_status', 'income'],
      dtype='object')

In [50]:
# Both dataframes share the 'user_id' column
# Check data-type of ords_prods_merge data

In [51]:
ords_prods_merge.dtypes

product_id                   int64
product_name                object
aisle_id                     int64
department_id                int64
prices                     float64
order_id                     int64
user_id                      int64
order_number                 int64
orders_day_of_week           int64
order_hour_of_day            int64
days_since_prior_order     float64
add_to_cart_order            int64
reordered                    int64
_merge                    category
price_range_loc             object
busiest_day                 object
busiest_days                object
busiest_period_of_day       object
max_order                    int64
loyalty_flag                object
Avg_spend                  float64
Spender_flag                object
Customer_frequency         float64
Frequency_flag              object
dtype: object

In [52]:
ords_prods_merge['user_id'].dtype

dtype('int64')

In [53]:
# let's check user_id of customer data
df_cust['user_id'].dtype

dtype('O')

In [54]:
# change ords_prods_merge 'user_id' to str

In [55]:
ords_prods_merge['user_id']=ords_prods_merge['user_id'].astype('str')

In [56]:
ords_prods_merge['user_id'].dtype

dtype('O')

In [57]:
# drop merge column as indicates that the DataFrame you're trying to merge already contains a column named "_merge"

In [58]:
ords_prods_merge = ords_prods_merge.drop(columns=['_merge'])

In [59]:
# drop unnecessary columns to minimize size of dataset

In [60]:
df_ords_prods_merge=ords_prods_merge.drop(columns=['aisle_id','add_to_cart_order','reordered','busiest_day','max_order','Avg_spend','Customer_frequency'])

In [61]:
df_customer=df_cust.drop(columns=['first_name','surname','date_joined','dependants'])

In [62]:
df_ords_prods_merge.shape

(32404859, 16)

In [63]:
df_customer.shape

(206209, 6)

In [64]:
# Merge the two dataframes using the column 'user_id' as the shared column with the default join (inner)

In [65]:

# Function to optimize memory usage

In [66]:
def optimize_memory_usage(df):
    for col in df.columns:
        col_type = df[col].dtype

        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()

            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                else:
                    df[col] = df[col].astype(np.int64)
            elif str(col_type)[:5] == 'float':
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')

    return df

In [67]:
# Optimize memory usage for both dataframes

In [68]:
df_ords_prods_merge = optimize_memory_usage(df_ords_prods_merge)

In [125]:
df_customer = optimize_memory_usage(df_customer)

In [127]:
# data after optimization to verify integrity

In [129]:
df_ords_prods_merge.shape

(32404859, 16)

In [133]:
df_customer.shape

(206209, 6)

# Merge data

In [136]:
cust_ords_prods_merge = df_ords_prods_merge.merge(df_custo, on='user_id', indicator=True)

In [138]:
cust_ords_prods_merge

(32404859, 22)

In [140]:
cust_ords_prods_merge.head()

,product_id,product_name,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,...,busiest_period_of_day,loyalty_flag,Spender_flag,Frequency_flag,gender,state,age,fam_status,income,_merge
0,1,Chocolate Sandwich Cookies,19,5.8,3139998,138,28,6,11,3.0,...,Most orders,Regular customer,Low spender,Frequent customer,Male,Minnesota,81,married,49620,both
1,1,Chocolate Sandwich Cookies,19,5.8,1977647,138,30,6,17,20.0,...,Average orders,Regular customer,Low spender,Frequent customer,Male,Minnesota,81,married,49620,both
2,1,Chocolate Sandwich Cookies,19,5.8,389851,709,2,0,21,6.0,...,Average orders,New customer,Low spender,Frequent customer,Female,Vermont,66,married,158302,both
3,1,Chocolate Sandwich Cookies,19,5.8,652770,764,1,3,13,NaN,...,Most orders,New customer,Low spender,Frequent customer,Female,Wisconsin,40,married,31308,both
4,1,Chocolate Sandwich Cookies,19,5.8,1813452,764,3,4,17,9.0,...,Average orders,New customer,Low spender,Frequent customer,Female,Wisconsin,40,married,31308,both

In [142]:
cust_ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [148]:
cust_ords_prods_merge.to_pickle(os.path.join(path,'prepared data','cust_ords_prods.pkl'))